[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "clarkeTest"]
	path = clarkeTest
	url = https://github.com/davidaarmstrong/clarketest
[submodule "factorplot"]
	path = factorplot
	url = https://github.com/davidaarmstrong/factorplot
[submodule "uwo4419"]
	path = uwo4419
	url = https://github.com/davidaarmstrong/uwo4419
